<!-- will start at views/ -->
<%- include("partials/header") -%>

    <h1>Home</h1>
    <p>
        <%= homeStartingContentKey %>
    </p>


    <% blogPostsKey.forEach(function(post) {%>
        <h2>
            <a href="/posts/<%= post.title %>">
                <%=post.title%>
            </a>
        </h2>
        <p>
            <%=post.content.substring(0, 100) + " ..."%>
        </p>
        <% }); %>



            <%- include( "partials/footer"); -%>